.date-day-paper {
    width: 100%;
    height: 110px;
}

.date-day-div {
    padding: 4px;
}

.date-span {
    font-size: 14pt;
    color: #292929;
}

.time-span {
    font-size: 12pt;
    color: #c92222;
}

.boknr-span {
    font-size: 10pt;
    color: #3f3f3f;
}

.date-activites {
    padding-top: 7px;
}

.weekdays {
    padding-bottom: 10px;
}

.form-month {
    float: right;
}

.form-year {
    float: right;
}

.select-year {
    margin-right: 25px;
    margin-top: 35px;
}

.select-month {
    margin-top: 35px;
}

.list-activties {
    width: 100%;
    overflow: auto;
    max-height: 200px;
}

.activtie-full-show {
    margin: 20px;
}

.grid-list-actvite {
    background-color: rgb(235, 231, 231);
}

.info-span {
    font-size: 9pt;
    color: #4d4d4d;
}

.dialog-grid {
    width: 500px !important;
    height: 300px;
}

.no-activites {
    padding: 40px;
    background-color: #d8d8d8;
}

.dialog-title {
    margin-left: 15px;
}

.calender-table {
    width: 100%;
}

.calender-table-column {
    width: 14%;

}

@media screen and (max-width: 745px) {
    .date-day-paper {
        height: 180px;
    }
}
